doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Communities
    meta(name="description", content="TODO")
    meta(name="keywords", content="TODO")
    meta(name="author", content="Anton Podviaznikov")
    script
      var cUnity = {};
      cUnity.user =  {
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };      
    link(rel="stylesheet", href="/index.css")    
    script(src="#{jsFile}")
  body
    header.app-header         
      nav.main-toolbar
        #user-profile.logined-show
          img.avatar
          span
        #user-toolbar
          .logined-show
            a(href="/").nav-link.action-btn.btn Home
            a(href="").goto-current-community-page-btn.nav-link.action-btn.btn Community
            a(href="/create")#goto-new-community-page-btn.nav-link.action-btn.btn New Community
            button#goto-new-topic-page-btn.action-btn.btn New Topic
            a(href="/logout").action-btn.btn Logout
          .unlogined-show
            a(href="/").nav-link.action-btn.btn Home
            a(href="").goto-current-community-page-btn.nav-link.action-btn.btn Community
            a(href="/auth")#login-btn.action-btn.btn Login          
    #home-page.page.invisible 
      ul#communities-list.items-list
    #new-community-page.page.invisible
      h1 Create new community here!
      form(onsubmit="false").logined-show  
        input(required,placeholder="Name of the commuinity")#new-community-name.input
        textarea(required,placeholder="Short description for the community")#new-community-short-description.input
        textarea(required,placeholder="Description for the community")#new-community-description.input
        button#create-new-community-btn.action-btn.btn New Community
    #community-page.page.invisible
      section.details
        h1
        h2
        p
      ul#topics-list.items-list
    #new-topic-page.page.invisible
      form(onsubmit="false")
        input(required)#new-topic-name.input.logined-show
        #new-topic-message.message.markdown-editor
        button#create-new-topic-btn.action-btn.btn.logined-show New Topic
    #topic-page.page.invisible 
      form#new-message-form(onsubmit="false").logined-show
        textarea(required).new-message-content.input
        button#create-new-message-btn.action-btn.btn Post
      section#messages-list.items-list
    footer.app-footer
      span.footer-toggle &#x25B2;
      .container
        p GitCommunities.com is not affiliated with <a href="http://github.com/">GitHub</a>.
        p Except as otherwise noted, the content of this page is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.
    script(type="text/template")#home-page-community-tpl
      |<li class="community-item"><a class="nav-link" href="/communities/<%= name %>">
      |<div class="members-count counter"><span><%= members_count %></span></div>
      |<div class="details">
      |<h1><%= name %></h1>
      |<div class="community-content">
      | <p><%= description %>
      | <div class="metadata">
      |   <span class="label">Created </span><time pubdate datetime="<%= created_at %>"><%= created %></time>
      |   <span class="label">Updated </span><time datetime="<%= pushed_at %>"><%= pushed %></time>
      |   <span class="label">Members </span><span class="members-count"><%= members_count %></span>
      |   <span class="label">Topics </span><span class="topics-count"><%= topics_count %></span>
      |  </div>
      | </div>
      |</div>
      |<button class="join-community-btn action-btn btn logined-show" data-name="<%= name %>">Join</button>
      |</a></li>
    script(type="text/template")#community-page-topic-tpl
      |<li class="topic-item"><a class="nav-link" href="/communities/<%= community %>/<%= name %>">
      | <div class="messages-count counter"><span><%= commits.length %></span></div>
      | <div class="details">
      |   <h1><%= name %></h1>
      |   <div class="topic-content">
      |     <div class="metadata">
      |   <span class="label">Created </span><time pubdate datetime="<%= created_at %>"><%= createdWhen %></time>
      |   <span class="label">Updated </span><time datetime="<%= updated_at %>"><%= updatedWhen %></time>      
      |     </div>
      |     <ul class="participants">
      |       <% _.each(participants, function(participant) { %> <li><img src="<%= participant.avatar_url %>" alt="<%= participant.login %>"></li> <% }); %>  
      |     </ul>
      |   </div>
      |</div>
      |</a> </li> 
    script(type="text/template")#topic-page-message-tpl
      |<li class="message">
      | <div class="message-content">
      |  <p><%= html %></p>
      |  <div class="metadata"><time pubdate datetime="<%= commit.published_at %>"><%= commit.published %></time></div>
      | </div>
      | <div class="user-info">
      | <a href="<%= commit.author.url %>" target="_blank">
      |   <img src="<%= commit.author.avatar_url %>" class="avatar avatar-small">
      | </a>
      | </div>
      |</li>  