doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title TODO!!
    meta(name="description", content="TODO")
    meta(name="keywords", content="TODO")
    meta(name="author", content="Anton Podviaznikov")
    link(rel="stylesheet", href="/index.css")
    script
      var cUnity = {};
      cUnity.user =  {
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };      
    script(src="/js/jquery-1.8.0.js")
    script(src="/js/underscore.js")
    script(src="/js/async.min.js")
    script(src="/js/moment.js")
    script(src="/js/page.js")
    script(src="/js/github.js")
    script(src="/js/showdown.js")
    script(src="/js/epiceditor.js")
    script(src="/js/app.js")
  body
    header.app-header
      nav.breadcrumbs
        ul          
      nav
        #user-profile.logined-show
          img.avatar
          span
        a(href="/create")#goto-new-community-page-btn.action-btn.btn.logined-show New Community
        button#goto-new-topic-page-btn.action-btn.btn.logined-show New Topic
        a(href="/logout").action-btn.btn.logined-show Logout
        a(href="/auth")#login-btn.action-btn.btn.unlogined-show Login
    #home-page.page.invisible 
      section#communities-list
    #new-community-page.invisible
      h1 Create new community here!
      form(onsubmit="false").logined-show  
        input(required)#new-community-name.input
        textarea(required)#new-community-description.input
        button#create-new-community-btn.action-btn.btn New Community
    #community-page.page.invisible 
      section#topics-list
    #new-topic-page.page.invisible
      form(onsubmit="false")
        input(required)#new-topic-name.input.logined-show
        #new-topic-message.message.markdown-editor
        button#create-new-topic-btn.action-btn.btn.logined-show New Topic
    #topic-page.page.invisible 
      section#messages-list
    script(type="text/template")#home-page-community-tpl
      |<section>
      |<a class="nav-link" href="/communities/<%= name %>"><h1><%= name %></h1></a>
      |<div class="community-content">
      | <p><%= description %>
      | <div class="metadata"><time><%= created %></time>
      |   <button class="join-community-btn action-btn btn logined-show" data-name="<%= name %>">Join</button>
      | </div>
      |</div>
      |</section>
    script(type="text/template")#community-page-topic-tpl
      <div><a class="nav-link" href="/communities/<%= community %>/<%= name %>"><%= name %></a></div>  
    script(type="text/template")#topic-page-message-tpl
      |<section>
      | <div class="message-content">
      |  <p><%= html %></p>
      |  <div class="metadata"><time><%= commit.published %></time></div>
      | </div>
      | <div class="user-info">
      | <a href="<%= commit.author.url %>" target="_blank">
      |   <img src="<%= commit.author.avatar_url %>" class="avatar avatar-small">
      | </a>
      | </div>
      |</section>  