doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Communities
    meta(name="description", content="Online communities build on top of Git.")
    meta(name="keywords", content="communities, git, groups, mailing list")
    meta(name="author", content="Anton Podviaznikov")
    script
      var cUnity = {};
      cUnity.user =  {
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };      
    link(rel="stylesheet", href="/index.css")    
    script(src="#{jsFile}")
  body
    include header        
    #home-page.page.invisible 
      section.welcome-section.unlogined-show
        .stats-section
          .stats-item.topics-count
            strong= topicsCount
            span Topics
          .stats-item.members-count
            strong= membersCount
            span Members
          .stats-item.communities-count
            strong= communitiesCount
            span Communities
      ul#communities-list.items-list
    #my-communities-page.page.invisible 
      ul#my-communities-list.items-list      
    #new-community-page.page.invisible
      form(onsubmit="false").logined-show  
        input(required,placeholder="Name of the commuinity",pattern="^[A-Za-z0-9-]{1,127}$",title="Characters, numbers and hypen are allowed.")#new-community-name.input
        textarea(required,placeholder="Description for the community")#new-community-description.input
        textarea(required,placeholder="Long description for the community")#new-community-long-description.input
        button#create-new-community-btn.action-btn.btn New Community
    #community-page.page.invisible
      header.page-header
        h1
        h2
        .page-toolbar
          button#goto-new-topic-page-btn.action-btn.btn.small New Topic
          button#join-community-btn.action-btn.btn.small Join
          button#leave-community-btn.action-btn.btn.small Leave
      p.community-intro
      ul#topics-list.items-list
    #new-topic-page.page.invisible
      form(onsubmit="false")
        input(required,placeholder="Topic name",pattern="^[A-Za-z0-9-]{1,127}$",title="Characters, numbers and hypen are allowed.")#new-topic-name.input.logined-show
        #new-topic-message.message.markdown-editor
        button#create-new-topic-btn.action-btn.btn.logined-show New Topic
    #topic-page.page.invisible 
      form#new-message-form(onsubmit="false").logined-show
        textarea(required).new-message-content.input
        button#create-new-message-btn.action-btn.btn Post
      section#messages-list.items-list
    include footer
    script(type="text/template")#home-page-community-tpl
      |<li class="community-item selectable"><a class="nav-link" href="/communities/<%= name %>">
      |<div class="members-count counter"><span><%= members_count %></span></div>
      |<div class="details">
      |<h1><%= name %></h1>
      |<div class="community-content">
      | <p><%= description %>
      | <div class="metadata">
      |   <span class="label">Created </span><time pubdate datetime="<%= created_at %>"><%= created %></time>
      |   <span class="label">Updated </span><time datetime="<%= pushed_at %>"><%= pushed %></time>
      |   <span class="label">Members </span><span class="members-count"><%= members_count %></span>
      |   <span class="label">Topics </span><span class="topics-count"><%= topics_count %></span>
      |  </div>
      | </div>
      |</div>
      |<% if(isMember){ %>
      |  <button class="leave-community-btn action-btn btn logined-show" data-name="<%= name %>">Leave</button>
      |<% } else{ %>
      |  <button class="join-community-btn action-btn btn logined-show" data-name="<%= name %>">Join</button>
      |<% } %>
      |</a></li>
    script(type="text/template")#my-communities-page-community-tpl
      |<li class="community-item selectable"><a class="nav-link" href="/communities/<%= name %>">
      |<div class="members-count counter"><span><%= members_count %></span></div>
      |<div class="details">
      |<h1><%= name %></h1>
      |<div class="community-content">
      | <p><%= description %>
      | <div class="metadata">
      |   <span class="label">Created </span><time pubdate datetime="<%= created_at %>"><%= created %></time>
      |   <span class="label">Updated </span><time datetime="<%= pushed_at %>"><%= pushed %></time>
      |   <span class="label">Members </span><span class="members-count"><%= members_count %></span>
      |   <span class="label">Topics </span><span class="topics-count"><%= topics_count %></span>
      |  </div>
      | </div>
      |</div>
      |</a></li>      
    script(type="text/template")#community-page-topic-tpl
      |<li class="topic-item selectable"><a class="nav-link" href="/communities/<%= community %>/<%= name %>">
      | <div class="messages-count counter"><span><%= commits.length %></span></div>
      | <div class="details">
      |   <h1><%= name %></h1>
      |   <div class="topic-content">
      |     <div class="metadata">
      |   <span class="label">Created </span><time pubdate datetime="<%= created_at %>"><%= createdWhen %></time>
      |   <span class="label">Updated </span><time datetime="<%= updated_at %>"><%= updatedWhen %></time>      
      |     </div>
      |     <ul class="participants">
      |       <% _.each(participants, function(participant) { %> <li><img src="<%= participant.avatar_url %>" alt="<%= participant.login %>"></li> <% }); %>  
      |     </ul>
      |   </div>
      |</div>
      |</a> </li> 
    script(type="text/template")#topic-page-message-tpl
      |<li class="message">
      | <div class="message-content">
      |  <p><%= html %></p>
      |  <div class="metadata">by <span class='author'><%= commit.author.login %></span> <time pubdate datetime="<%= commit.published_at %>"><%= commit.published %></time></div>
      | </div>
      | <div class="user-info">
      | <a href="<%= commit.author.url %>" target="_blank">
      |   <img src="<%= commit.author.avatar_url %>" class="avatar avatar-small">
      | </a>
      | </div>
      |</li>  