doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Communities
    meta(name="description", content="Online communities build on top of Git.")
    meta(name="keywords", content="communities, git, groups, mailing list")
    meta(name="author", content="Anton Podviaznikov")
    script
      var cUnity = {};
      cUnity.user =  {
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };      
    link(rel="stylesheet", href="/index.css")
    script(src="/socket.io/socket.io.js")
    script(src="#{jsFile}")
  body
    include header        
    include home-page
    include member-page
    #my-communities-page.page.invisible 
      ul#my-communities-list.items-list      
    #new-community-page.page.invisible
      form(onsubmit="return false;").logined-show  
        input(required,placeholder="Name of the commuinity",pattern="^[A-Za-z0-9-]{1,127}$",title="Characters, numbers and hypen are allowed.")#new-community-name.input
        textarea(required,placeholder="Description for the community")#new-community-description.input
        textarea(required,placeholder="Long description for the community")#new-community-long-description.input
        button#create-new-community-btn.action-btn.btn New Community
    include community-page
    #new-topic-page.page.invisible
      form(onsubmit="return false;")
        input(required,placeholder="Topic name",pattern="^[A-Za-z0-9-]{1,127}$",title="Characters, numbers and hypen are allowed.")#new-topic-name.input.logined-show
        #new-topic-message.message.markdown-editor
        button#create-new-topic-btn.action-btn.btn.logined-show New Topic
    #topic-page.page.invisible 
      section#messages-list.items-list
      form#new-message-form(onsubmit="return false;").logined-show
        textarea(required).new-message-content.input
        button#create-new-message-btn.action-btn.btn Post      
    include footer
    include templates